body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow-y: hidden;
	overflow-x: hidden;
}

.navbar{
	width: 100%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	font-size: larger;
}

.navbar ul li a{
	text-decoration: none;
	color: #FFFFF7;
	text-transform: uppercase;
	font-size: larger;
	
}



.homeContent{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #FFFFF7;
}

.homeContent h1{
	font-size: 70px;
	margin-top: 80px;
	color: #FFFFF7;
}

.homeContent p{
	margin: 20px auto;
	font-weight: 100;
	font-size: 20px;
	line-height: 25px;

}

button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #FFFFF7;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

span{
	background: #009688;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span{
	width: 100%;
}

button:hover{
	border: none;
}